@media (max-width: 800px){
    .page {
        flex-direction: column;
    }
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color:#F0F3F5;
}
.banner {
    text-align: center;
    /* padding: 4rem; */
    height: 15vh;
    border: 2px solid black;
}
.footer {
    text-align: center;
    /* padding: 2rem; */
    /* border: 2px solid black; */
    font-weight: 500;
    color: rgba(0, 0, 0, 0.21)
}
.page {
    flex: 1;
    display: flex;
    /* align-items: center; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    gap: 2rem;
    /* border: 2px solid black; */

}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 360px;
    /* border: 2px solid black; */
    font-size: 1.05rem;
    /* padding: 0rem; */
}

.photo {
    border-radius: 100%;
    border: 3px solid black;
    width: 140px;
    height: 149px;
    object-fit: cover;
    /* object-position: 100% center; */
}
/* .name-button{
    text-decoration: none;
    color: black;
} */

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    /* border: 2px solid black; */
    width: 50vw;
    min-width: 360px;
    font-family: 'Source Sans 3',sans-serif;
    /* padding: 2rem; */
}

.name {
    font-family: "IBM Plex Mono" , monospace;
    font-size: 1.5rem;
    margin-bottom: 0rem;;
}

.name a{
    text-decoration: none;
    color: black;
}

.socials a{
    font-family: 'Source Sans 3',sans-serif;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.72);
    text-decoration: none;
    margin-right: 0.3rem;
}

.socials a:hover {
    text-decoration: underline;
}

.hidden-mail{
    display:none;
    /* visibility: hidden; */
    transform: translateX(-100%);
    /* translate: 0 -25vh; */
    opacity: 0;
    /* animation: appear 5s; */

    /* transition-behavior: allow-discrete; */
    /* transition: display 0.5s, transform  0.5s ease-out, opacity 0.5s ease-out; */
    transition-property: display opacity transfrom;
    transition-duration: 0.3s;
    transition-behavior: allow-discrete;
}

.mail-container{
    overflow: hidden;
    display: inline;
    /* height: 0px;
    width: 0px; */
}

.mail-container:hover .hidden-mail{
    display:inline-block;
    transform: translateX(0);
    /* translate: 0 0; */
    opacity: 1;
    
    @starting-style{
        opacity:0;
        transform: translateX(-100%);
        /* translate: 0 -25vh; */
    }
}


.intro{
    /* font-size: 1.05rem; */
    font-weight: normal;
}

nav{
    font-weight: 500;
    line-height: 1.7em;
}

nav a{
    text-decoration: none;
    color: black;
}
.post a{
    text-decoration: none;
    color: black;
}
.post-title{
    margin-bottom: 0.25rem;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.post-meta{
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: normal;
    font-weight: normal;
    font-size: 0.9rem;
    /* color: #666; */
}
.post-divider{
    border: none;
    margin: 0.3rem 0;
    height: 2px;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); */

    background-color: rgba(0, 0, 0, 0.6);
    /* width: 50%; */
}
.post-description{
    margin-top:0.5rem;
    font-weight: normal;
    font-size: 1.1rem;
}


