<!DOCTYPE html>
<html>
    <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel= "stylesheet" href = "/style.css">
    <title> Qbin </title>
    <meta charset="UTF-8">
    <meta name = "description" content = "Personal website and portafolio">
    <meta name = "author" content = "kevin2982010@gmail.com">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    </head>

    <body>
        <!-- <header class = "banner"> Banner</header> -->

        <div class = "page">
            <aside class = "sidebar">
                <center>
                <br>
                <!-- <div class = "photo"> -->
                <img src = "/images/landingpic.jpg" class="photo">
                <!-- </div> -->
                <h1 class = "name">
                <a href="/">
                    Kevin Restrepo
                </a>
                </h1>
                <div class="socials">
                    <a href="https://www.linkedin.com/in/kevinrestrepotobon/">
                        LinkedIn
                    </a>
                    <a href="https://x.com/qbinq01">
                        Twitter
                    </a>
                    <a href="https://github.com/qbinq/">
                        Github
                    </a>
                    <div class="mail-container">
                        <a href="mailto:kevin.andrestrepo@gmail.com">
                            @ 
                        </a><a href ="mailto:kevin.andrestrepo@gmail.com" class = "hidden-mail">kevin.andrestrepo@gmail.com</a>
                    </div>
                </div>
                </center>
                <p class = "intro">Físico de la Universidad de Antioquia.<br>
                Interesado en Ciencia, Ingeniería y Software.<br>
                Hacedor de cosas.</p>
                <nav>
                    <a href = "/articles/">Artículos</a> <br>
                    <a href = "/tutorials/">Tutoriales</a> <br>
                    <a href = "/thoughts/">Pensamientos</a><br>
                    <a href= "/contact"> Contacto</a><br>
                </nav>
            </aside>
            <main class = "content">
                {{ content }}
           </main>
        </div>

    <footer class = "footer">© Todos los derechos reservados</footer>
    </body>

</html>
